* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.clearfix {
  content= "";
  display: table;
  clear: both;
}
body {
  background-color: azure;
  font-family: "Helvetica Neue", arial, sans-serif;
  font-size: 18px;
}

h1, h2, p {

}
  
h1 {
  color: #60517a;
  font-size: 40px;
  margin-bottom: 20px;
}

h2 {
  color: rgb(138, 88, 187);
  font-size: 25px;
  margin-bottom: 10px;
}

.main-text {
  text-align: justify;
  margin-bottom: 15px;
}
.author-text {
  font-size: 22px;  
  float: left;
  margin-top: 35px;
  margin-left: 20px;
}

.container {
  width: 1140px;
  margin: 20px auto 0px;
}
.blog-post {
  width: 75%;
  float: left;
  padding-right: 2em;
  position: relative;
}
.other-posts {
  width: 25%;
  float: left;
}
.other {
  margin-bottom: 40px;
}
.author-box {
  border-top: 1px solid grey;
  padding-top: 20px ;
}
.author-box img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  float: left;
}

.blog-post img {
  height: 150px;
  width: auto;
}

.date {
  position: absolute;
  top: 10px;
  right: 40px;
}